---
import Layout from '@layouts/Neovim.astro';
import CV from "@cv";
import { Icon } from 'astro-icon/components';

const { projects } = CV;
---

<Layout title="Projects">
  <ul id="project-list">
    {projects && projects.map(({ url, description, highlights, name, keywords, roles, type }) => {
      return (
        <li
          class="mb-6 project-item leading-6 nvim-line"
          class:list={
            {'active': url}
          }
          data-href={url}
        >
          <div class="flex gap-2">
            {url ? (
              <a
                class="group flex items-center gap-1 text-lg decoration-dotted underline-offset-[5px] hover:underline transition-all duration-200 text-blue project-url"
                href={url}
                title={`View ${name}`}
                target="_blank"
              >
                {name}
                <Icon name="ri:arrow-right-s-line" width="24" height="24" class="text-skin-hue transition ease-linear group-hover:translate-x-1"></Icon>
              </a>
            ) : (
              <span class="text-lg text-blue">{name}</span>
            )}
            
            {type && (
              <span class="opacity-75 transition duration-200 text-green">
                〔{type}〕
              </span>
            )}
          </div>
            <div>
              {highlights && highlights.map(
                (highlight) =>
                  <span class="text-gray-600">{highlight}. </span>
              )}
            </div>
            <p class="text-gray-500">
              {description}
            </p>
            
            <ul class="flex print:hidden flex-wrap gap-2 mt-6" aria-label="Keywords">
              {keywords && keywords.map((keyword, index) => (
                <li class="cursor-default bg-transparent border-nvim-green/60 text-green flex items-center border-solid border rounded-md px-2 py-1 text-xs backdrop-blur-sm">
                  <span>〔{index}〕</span>
                  <span>{keyword}</span>
                </li>
              ))}
            </ul>
            
            <ul class="flex print:hidden flex-wrap gap-2 mt-2" aria-label="Roles">
              {roles && roles.map((role) => (
                <li class="cursor-default bg-transparent border-nvim-blue/60 text-blue flex items-center border-solid border rounded-md px-2 py-1 text-xs backdrop-blur-sm">
                  <span>〔{role}〕</span>
                </li>
              ))}
            </ul>
          </li>
      )
    })}
  </ul>
</Layout>

<style>
  .project-item.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>