---
import Section from "@/components/Section.astro";
import { Icon } from "astro-icon/components";
import CV from "@cv";

const { projects } = CV;
---

<Section className={Astro.props.className} title="Projects">
  <div class="space-y-4 print:space-y-2">
    {
      projects?.map(
        ({ url, description, highlights, name, keywords, roles, type }) => {
          return (
            <div class="flex h-full flex-col rounded-3xl bg-skin-muted p-4">
              <div class="flex flex-col">
                <div class="flex flex-wrap items-center gap-4">
                  <h3 class="text-lg font-bold text-skin-hue print:text-sm print:text-skin-base">
                    {name}
                  </h3>
                  {type && (
                    <span class="rounded-full border-2 px-2 py-0.5 text-xs font-semibold">
                      {type}
                    </span>
                  )}
                </div>
                <p class="font-medium text-skin-muted print:text-xs print:text-skin-muted">
                  {description}
                </p>
                <div class="mt-4 flex flex-wrap gap-1 print:mt-2">
                  {highlights.map((highlight) => (
                    <div class="select-none rounded-md bg-skin-card px-2 py-0.5 text-sm text-skin-muted print:bg-skin-base print:border print:text-xs print:text-skin-base">
                      {highlight}
                    </div>
                  ))}
                </div>
                {url && (
                  <div class="mt-4 flex gap-1 print:mt-2">
                    <a
                      data-ccursor="noPadding"
                      target="_blank"
                      rel="noreferrer"
                      href={url}
                      class="flex gap-1 text-sm font-semibold print:text-xs sm:hover:bg-skin-button-muted"
                    >
                      <Icon
                        name="ri:link"
                        class="inline-block"
                        width={20}
                        height={20}
                      />
                      <p class="">Visit Site</p>
                    </a>
                  </div>
                )}
                {keywords && (
                  <div class="mt-4 flex flex-wrap gap-1 print:mt-2">
                    {keywords.map((keyword) => (
                      <div class="select-none rounded-md bg-skin-card px-2 py-0.5 text-xs text-skin-muted print:bg-skin-base print:border print:text-xs print:text-skin-base">
                        #{keyword}
                      </div>
                    ))}
                  </div>
                )}
                {roles && (
                  <div class="mt-4 flex flex-wrap gap-1 print:mt-2">
                    {roles.map((role) => (
                      <div class="select-none rounded-md bg-skin-accent px-2 py-0.5 text-xs text-skin-inverted print:bg-skin-base print:border print:text-xs print:text-skin-base">
                        {role}
                      </div>
                    ))}
                  </div>
                )}
              </div>
            </div>
          );
        }
      )
    }
  </div>
</Section>

<script>
  import { Fancybox } from "@fancyapps/ui";
  Fancybox.bind('[data-fancybox="projects"]', { hideScrollbar: false });
</script>

<style>
  ul {
    @apply ml-4 list-disc space-y-1;
    li {
      @apply text-skin-muted marker:text-skin-hue;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
